@import 'base';

header {
  background-color: @primary-bg;
  padding: 10px 5px 20px 5px;
  overflow: auto;
}
.brand {
  float: left;
  position: relative;
}
.nav-container {
  float: right;
  position: relative;
}
.nav-phone {
  font-size: 32px;
  color: @primary-color;
  float: right;
  padding-right: 30px;
}
.nav-menu {
  padding-top: 50px;
  padding-right: 20px;
  color: @primary-color;
}
.nav-menu-item {
  padding: 5px;
  color: @primary-color;
}
.is-active {
  background-color: @primary-active-color;
}
.btn.btn-default {
  color: @primary-color;
}
