<h2>Contact</h2>
<p>
  Something
</p>
<p>
  To speak with an attorney about your situation call 512-246-3995. You can also fill out the online form below:
</p>
<div>
  <label><span style="display: none;">Name:</span><br />
    <input [(ngModel)]="contact.name" placeholder="Name">
  </label>
</div>
<div>
  <label><span style="display: none;"><strong>Email address:</strong></span><br />
    <input [(ngModel)]="contact.emailAddress" placeholder="Email address">
  </label>
</div>
<div>
  <label><span style="display: none;">State:</span><br />
    <input [(ngModel)]="contact.state" placeholder="State">
  </label>
</div>
<div>
  <label><span style="display: none;">Zip:</span><br />
    <input [(ngModel)]="contact.zip" placeholder="Zip">
  </label>
</div>
<div>
  <label><span style="display: none;">Phone:</span><br />
    <input [(ngModel)]="contact.phone" placeholder="Phone">
  </label>
</div>
