<div class="contact-container">
<h2>Contact</h2>
<p>
  Something
</p>
<p>
  To speak with an attorney about your situation call 512-246-3995. You can also fill out the online form below:
</p>
<form [formGroup]="contactForm">
  <fieldset>
  <div [ngClass]="{
    'has-danger': nameControl.invalid && nameControl.dirty,
    'has-success': nameControl.valid && nameControl.dirty}">
    <label><span [ngClass]="{'hidden': !nameControl.value, 'shown': !!nameControl.value}">Name</span>
      <input class="form-control" type="text" formControlName="name" placeholder="Name">
    </label>
  </div>
  <div [ngClass]="{
    'has-danger': emailControl.invalid && emailControl.dirty,
    'has-success': emailControl.valid && emailControl.dirty}">
    <label><span [ngClass]="{'hidden': !emailControl.value, 'shown': !!emailControl.value}"><strong>Email address</strong></span>
      <input class="form-control" type="email" formControlName="emailAddress" placeholder="Email address" style="font-weight: bold;">
    </label>
  </div>
  <div [ngClass]="{
    'has-danger': phoneControl.invalid && phoneControl.dirty,
    'has-success': phoneControl.valid && phoneControl.dirty}">
    <label><span [ngClass]="{'hidden': !phoneControl.value, 'shown': !!phoneControl.value}"><strong>Phone</strong></span>
      <input class="form-control" type="tel" formControlName="phone" placeholder="Phone" style="font-weight: bold;">
    </label>
  </div>
  <div [ngClass]="{
    'has-danger': stateControl.invalid && stateControl.dirty,
    'has-success': stateControl.valid && stateControl.dirty}">
    <label><span [ngClass]="{'hidden': !stateControl.value, 'shown': !!stateControl.value}">State</span>
      <select class="form-control" formControlName="state" placeholder="State">
        <option value="">Select a state</option>
        <option *ngFor="let state of states" [value]="state.code">{{state.name}}</option>
      </select>
    </label>
  </div>
  <div [ngClass]="{
    'has-danger': zipControl.invalid && zipControl.dirty,
    'has-success': zipControl.valid && zipControl.dirty}">
    <label><span [ngClass]="{'hidden': !zipControl.value, 'shown': !!zipControl.value}">Zip</span>
      <input class="form-control" type="number" formControlName="zip" placeholder="Zip">
    </label>
  </div>
  </fieldset>
  <fieldset>
    <div>
      <label><span [ngClass]="{'hidden': !descriptionControl.value, 'shown': !!descriptionControl.value}">Brief description of your legal issue</span>
        <textarea class="form-control" formControlName="description" placeholder="Brief description of your legal issue"></textarea>
      </label>
    </div>
  </fieldset>
  <fieldset>
    <label><input type="checkbox" formControlName="disclaimer"> <strong>I have read the disclaimer.</strong></label>
  </fieldset>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<app-location></app-location>
