@import "base";

.location-container {
  padding: 0;
}
.text-container {
  background-color: @primary-bg;
}
.location {
  padding: 15px 0;
}
.location a {
  color: @primary-color;
}
.location a:hover {
  text-decoration: none;
}
.location-text {
  color: @primary-color;
}
agm-map {
  height: 300px;
}
.location-container .row {
  background-color: @primary-bg;
}
