<div class="location-container">
<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-7'>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (centerChange)="centerChange">
        <agm-marker [latitude]="lat" [longitude]="lng">
        </agm-marker>
      </agm-map>
    </div>
    <div class='col-md-5 text-container'>
      <div itemref="attorneyProfile attorney-list" itemscope="itemscope" itemtype="http://schema.org/Attorney">
        <meta itemprop="name" content="Kelly Sundberg, PC">
        <meta itemprop="legalName" content="Kelly Sundberg, PC">
        <div itemprop="location" itemscope="itemscope" itemtype="http://schema.org/Place" class="location">
          <h2 class="location-text">Office Address</h2>
          <p>
            <span itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
              <span itemprop="streetAddress" class="location-text">407 W. Liberty Ave</span><br />
              <span itemprop="addressLocality" class="location-text">Round Rock</span>
              <span itemprop="addressRegion" class="location-text">TX</span>
              <span itemprop="postalCode" class="location-text">78664</span>
            </span>
          </p>
          <p>
            <span><span class="location-text">Phone:</span> <span itemprop="telephone" class="location-text">512-246-3995</span></span><br />
            <span><span class="location-text">Fax:</span> <span itemprop="faxNumber" class="location-text">512-246-7776</span></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
