<div class="banner-wrap">
  <div class="banner-container">
    <img *ngIf="mainPage" src="/images/att-img.png" alt="attorneys" class="att">
    <div *ngIf="mainPage" class="banner-text"> Learn How We Can Help
      <span>Contact us to learn how we can help you move forward and achieve the best possible outcome.</span>
      <a href="/Contact.shtml" class="email">Email us today</a>
      <a href="https://secure.lawpay.com/pages/heinrich-christian-pllc/trust" target="_blank" class="email pay">Pay Your Invoice Online</a>
    </div>
  </div>
</div>
