<div class="footer-page-wrap">
  <footer class="footer-page">
    <div class="socail-media">
      <ul>
        <li>
          <a href="https://www.facebook.com/HeinrichChristianPLLC/" target="_blank">
            <span class="fa fa-facebook-square" aria-hidden="true"> </span>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/112127525285644303264" target="_blank">
            <span class="fa fa-google-plus-square" aria-hidden="true"> </span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/HCdivorcelaw" target="_blank">
            <span class="fa fa-twitter-square" aria-hidden="true"> </span>
          </a>
        </li>
        <li class="last-child">
          <a href="https://www.linkedin.com/company/heinrich-christian-pllc" target="_blank">
            <span class="fa fa-linkedin-square" aria-hidden="true"> </span>
          </a>
        </li>
      </ul>
    </div>
    <section class="fine-print clearfix">
      <p class="copyright">© 2017 by
        <a href="http://pview.findlaw.com/cmd/view?wld_id=4668185&amp;pid=1" target="_blank">Heinrich Christian, PLLC</a>. All rights reserved.
        <a href="/Disclaimer.shtml">Disclaimer</a> |
        <a href="/Site-Map.shtml">Site Map</a>
      </p>
      <p class="branding">
        <a id="PrivacyPolicy" href="/Privacy-Policy.shtml">Privacy Policy</a> |
        <a target="_blank" rel="nofollow" href="http://www.lawyermarketing.com/?utm_source=FirmSite&amp;utm_medium=footer%2Bcopyright&amp;utm_term=law%2Bfirm%2Bmarketing&amp;utm_campaign=FirmSite%2BInbound">Business Development Solutions</a> by
        <a target="_blank" href="http://www.findlaw.com/">FindLaw</a>, a Thomson Reuters business.

      </p>
    </section>
    <a href="javascript:void(0)" class="back-to-top">
      <span class="fa fa-angle-up" aria-hidden="true"> </span>Back TO Top
    </a>
  </footer>
</div>
