<div class="header-wrap">
  <header class="header-page">
    <a href="/" class="brand">
      <img src="/images/brand-hc.png" alt="Heinrich Christian, PLLC - Round Rock family law attorney" class="brand-image">
      <img src="/images/brand-hcp.png" alt="Heinrich Christian, PLLC - Round Rock family law attorney" class="brand-image tagline">
    </a>
    <div class="cta">
      <div class="cta-phone">512-333-4980</div>
    </div>
    <a href="#" class="btn-nav-main btn-togglebox" data-target="nav-main">
      <span class="fa fa-bars" aria-hidden="true"> </span>Main
    </a>
    <a href="/Contact.shtml" class="btn-contact btn-mobile">
      <span class="fa fa-map-marker" aria-hidden="true"> </span>Contact
    </a>
    <nav id="nav-main" class="nav-main" data-bp="650" role="navigation">
      <ul>
        <li>
          <a routerLink="">Home</a>
        </li>
        <li>
          <a routerLink="firm-overview">Firm Overview</a>
        </li>
        <li>
          <a href="/Attorneys/">Attorneys</a>
        </li>
        <li>
          <a href="/Family-Law/">Family Law</a>
        </li>
        <li>
          <a href="/Articles/">Articles</a>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
        <li class="item-last">
          <a href="/Contact.shtml">Contact</a>
        </li>
        <li class="togglebox-close last-child">
          <a href="#" class="close" data-target="nav-main">
            <span class="fa fa-times" aria-hidden="true"> </span> Close
          </a>
        </li>
      </ul>
    </nav>
  </header>
</div>
