<div class="practice-area-wrap">
  <div class="practice-area-container">
    <a href="javascript:void(0)" class="btn-nav-practice btn-togglebox btn-mobile" data-target="nav-practice">
      <span class="fa fa-bars" aria-hidden="true"> </span> View Our Practice Areas
    </a>
    <nav id="nav-practice" class="nav-practice" data-bp="650" role="navigation">
      <ul>
        <li class="divorce">
          <a href="/Family-Law/Divorce.shtml">
            <img src="/images/divorce.jpg" class="over" alt="divorce">Divorce
          </a>
        </li>
        <li class="child">
          <a href="/Family-Law/Child-Custody-Visitation.shtml">
            <img src="/images/custody.jpg" class="over" alt="Child Custody">Child Custody &amp; Visitation
          </a>
        </li>
        <li class="support">
          <a href="/Family-Law/Child-Support.shtml">
            <img src="/images/support.jpg" class="over" alt="Child Support">Child Support
          </a>
        </li>
        <li class="modification last-child">
          <a href="/Family-Law/Modifications.shtml">
            <img src="/images/modifications.jpg" class="over" alt="Modifications">Modifications
          </a>
        </li>
      </ul>
      <ul class="second-row">
        <li class="enforcement">
          <a href="/Family-Law/Enforcement.shtml">
            <img src="/images/enforcement.jpg" class="over" alt="Enforcement">Enforcement
          </a>
        </li>
        <li class="litigation">
          <a href="/Family-Law/Two-Alternatives-To-Divorce-Litigation.shtml">
            <img src="/images/thanks.jpg" class="over" alt="Two Alternatives To Divorce Litigation">Two Alternatives To Divorce Litigation
          </a>
        </li>
        <li class="adoption">
          <a href="/Family-Law/Adoption.shtml">
            <img src="/images/adoption.jpg" class="over" alt="Adoption">Adoption
          </a>
        </li>
        <li class="togglebox-close last-child">
          <a href="#" class="close" data-target="nav-practice">
            <span class="fa fa-times" aria-hidden="true"> </span> Close
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
