<div class="short-form-wrap">
  <div class="short-form-container">
    <a href="/Contact.shtml" class="btn-short-form btn-mobile">
      <span class="fa fa-envelope" aria-hidden="true"> </span> Email Us For A Response
    </a>
    <div class="short-form">
      <h4 class="title-short-form">Get a Consultation with an Experienced Attorney</h4>
      <div class="container-module container-module-short-form">
        <div class="module module-short-form">
          <div id="containerIntakeFormShortAutofill">
            <p>
              <strong>Bold</strong> labels are required.
            </p>
            <form method="post" action="/cgi-bin/emailservice.cgi" name="intakeFormShortAutofill" id="intakeFormShortAutofill" class="formAutoFill">
              <input name="serverTime" type="hidden" value="1507509450">
              <input type="hidden" name="SubscriptionID" value="1813014">
              <input type="hidden" name="email_subject" value="Findlaw FirmSite Message From SiteDomain">
              <input type="hidden" name="removeFLBranding" value="false">
              <input type="hidden" name="guid" value="gdbHvBMy0PdtC8gcOJQdMpU9hFsBzh419rxloXkIJoXcvulM/C3+PPGBjgYc7p+TZpw+cUhk7J52m69UbPNid0si+hz4CFtg7BQqlMyii4Y9pVcey3dt+YYM+LmWRM7YpTR3kpc3VQ/XPh+5DXvNwvRQGwPNiPTj5tTh9Wd/0e4=">
              <input type="hidden" name="wld_id" value="4668185">
              <input type="hidden" name="thankyouPage" value="Thank-You">
              <fieldset>
                <legend>
                  <span>Contact Information</span>
                </legend>
                <label for="intakeFormShortName" class="formLabelHide">Name</label>
                <div class="formHighlight">
                  <input type="text" name="Name|at:name||Please enter your name." id="intakeFormShortName" title="Name">
                </div>
                <label for="intakeFormShortEmail" class="formLabelHide">
                  <strong>Email Address</strong>
                </label>
                <label for="intakeFormShortEmail" class="formHide">
                  <strong>Please enter a valid email address.</strong>
                </label>
                <div class="formHighlight">

                </div>
                <label for="intakeFormShortPhone" class="formLabelHide">Phone</label>
                <label for="intakeFormShortPhone" class="formHide">
                  <strong>Please enter a valid phone number. You may use 0-9, spaces and the ( ) - + characters.</strong>
                </label>
                <div class="formHighlight">
                  <input type="text" name="Phone|at:phone||Please enter a valid phone number. You may use 0-9, spaces and the ( ) - + characters."
                    id="intakeFormShortPhone" title="Phone" class="dataCheck number">
                  <input type="text" name="Email Address|at:email|r|Please enter a valid email address." id="intakeFormShortEmail" class="validate email"
                    title="Email Address" style="font-weight: bold;">
                </div>
                <label for="intakeFormShortMessage" class="formLabelHide">Brief description of your legal issue</label>
                <div class="formHighlight">
                  <textarea name="Brief description of your legal issue|at:message||Please describe your legal issue." id="intakeFormShortMessage"
                    title="Brief description of your legal issue" rows="4" cols="15"></textarea>
                </div>
                <div class="formCheck">
                  <label for="intakeFormShortAutofillDisclaimerCheck" class="formHide">
                    <strong>Please verify that you have read the disclaimer.</strong>
                  </label>
                  <label for="intakeFormShortAutofillDisclaimerCheck">
                    <input type="checkbox" name="Read disclaimer:||r|Please verify that you have read the disclaimer." id="intakeFormShortAutofillDisclaimerCheck"
                      class="validate checkbox" value="yes">
                    <strong>I have read the
                      <span>disclaimer.</span>
                    </strong>
                  </label>
                  <strong>
                    <a class="intakeFormShortDisclaimerLink" href="#intakeFormShortDisclaimer">disclaimer</a>.
                  </strong>

                  <a href="/Privacy-Policy.shtml">Privacy Policy</a>
                </div>
                <input class="intakeFormHiddenInput" type="hidden" id="checkboxDisclaimerIntakeFormShort" name="cgi|checkboxDisclaimerIntakeFormShort"
                  value="Read disclaimer:||r|Please verify that you have read the disclaimer.">
                <div id="intakeFormShortDisclaimer">
                  <div>
                    <p>The use of the Internet or this form for communication with the firm or any individual member of the
                      firm does not establish an attorney-client relationship. Confidential or time-sensitive information
                      should not be sent through this form.</p>
                    <a href="#intakeFormShortAutofillDisclaimerCheck" rel="nofollow">close</a>
                  </div>
                </div>
              </fieldset>

              <button name="Submit" value="Submit" class="submit" type="submit" id="intakeFormShortAutofillSubmit">Get Answers</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
