@import 'base';

.banner {
  overflow: auto;
  background-image: url('/assets/justice1.png'), url('/assets/justice2.png');
  background-repeat: no-repeat, repeat;
  background-color: #d1c6c2;
  background-position: right top;
  height: 394px;
}
.banner-box {
  float: left;
  padding-top: 75px;
  padding-left: 40px;
  text-align: center;
}
.btn-default {
  background-color: @secondary-bg;
  color: @secondary-color;
}
