<div class="banner">
  <div class="banner-box">
    <h4>Something moving and interesting</h4>
    <p>A lot of moving text that makes people want to hire the firm.</p>
    <a routerLink="/contact" class="btn btn-default">Contact Us Today</a>
  </div>
</div>
<app-practice-menu></app-practice-menu>
<div class="point-container point-one">
Point 1
</div>
<div class="point-container point-two">
Point 2
</div>
<div class="point-container point-three">
Point 3
</div>
<app-location></app-location>
<app-mini-contact></app-mini-contact>
